## viena lentele - projektai

In [4]:
from sqlalchemy import create_engine, Integer, String, Float, DateTime, ForeignKey
from sqlalchemy.orm import DeclarativeBase, mapped_column, relationship, sessionmaker

from datetime import datetime

In [32]:
db_engine = create_engine('sqlite:///projektai.db', echo=True)

In [34]:
from typing import Any

class Base(DeclarativeBase):
    pass

class Projektas(Base):
    __tablename__ = "Projektas"
    id = mapped_column(Integer, primary_key=True)
    name = mapped_column (String(50), nullable=False)
    price = mapped_column(Float(2), nullable=False)
    created = mapped_column(DateTime, default=datetime.utcnow)

    def __init__v(self, **kw: Any):
        # super().__init__(**kw)
        for key, value in kw.items():
            setattr(self, key, value)

    def __repr__(self) -> str:
        return f"({self.id}, {self.name}, {self.price}, {self.created})"

In [35]:
Base.metadata.create_all(db_engine)

2023-05-10 14:51:20,436 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-10 14:51:20,437 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Projektas")
2023-05-10 14:51:20,438 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-10 14:51:20,441 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Projektas")
2023-05-10 14:51:20,442 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-10 14:51:20,446 INFO sqlalchemy.engine.Engine
CREATE TABLE "Projektas" (
	id INTEGER NOT NULL,
	name VARCHAR(50) NOT NULL,
	price FLOAT NOT NULL,
	created DATETIME,
	PRIMARY KEY (id)
)


2023-05-10 14:51:20,447 INFO sqlalchemy.engine.Engine [no key 0.00093s] ()
2023-05-10 14:51:20,449 INFO sqlalchemy.engine.Engine COMMIT

In [36]:
from sqlalchemy.orm import Session

In [39]:
with Session(db_engine) as session:
    db_1 = Projektas(name="Duomenu baziu su Python kursas", price=500)
    frontas = Projektas(name="FrontEndo kursai: HTML, CSS", price=1500)
    django = Projektas(name="Django pradedantiesiems", price=7000)
    session.add_all([db_1, frontas, django])
    session.commit()

2023-05-10 15:01:42,593 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-10 15:01:42,598 INFO sqlalchemy.engine.Engine INSERT INTO "Projektas" (name, price, created) VALUES (?, ?, ?) RETURNING id
2023-05-10 15:01:42,602 INFO sqlalchemy.engine.Engine [generated in 0.00024s (insertmanyvalues) 1/3 (ordered; batch not supported)] ('Duomenu baziu su Python kursas', 500.0, '2023-05-10 12:01:42.598098')
2023-05-10 15:01:42,608 INFO sqlalchemy.engine.Engine INSERT INTO "Projektas" (name, price, created) VALUES (?, ?, ?) RETURNING id
2023-05-10 15:01:42,609 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/3 (ordered; batch not supported)] ('FrontEndo kursai: HTML, CSS', 1500.0, '2023-05-10 12:01:42.598105')
2023-05-10 15:01:42,610 INFO sqlalchemy.engine.Engine INSERT INTO "Projektas" (name, price, created) VALUES (?, ?, ?) RETURNING id
2023-05-10 15:01:42,611 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/3 (ordered; batch not supported)] ('Django pradedantiesiems', 7000.0, '2023-05-10 12:01:42.598106')
2023-05-10 15:01:42,612 INFO sqlalchemy.engine.Engine COMMIT

In [41]:
with Session(db_engine) as session:
    projektai = session.query(Projektas).all()

2023-05-10 15:04:44,645 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-10 15:04:44,649 INFO sqlalchemy.engine.Engine SELECT "Projektas".id AS "Projektas_id", "Projektas".name AS "Projektas_name", "Projektas".price AS "Projektas_price", "Projektas".created AS "Projektas_created"
FROM "Projektas"
2023-05-10 15:04:44,650 INFO sqlalchemy.engine.Engine [generated in 0.00185s] ()
2023-05-10 15:04:44,654 INFO sqlalchemy.engine.Engine ROLLBACK

In [42]:
print(projektai)

[(1, POython kursai pradedantiesiems, 200.0, 2023-05-10 11:59:14.455282), (2, Python kursai pradedantiesiems, 200.0, 2023-05-10 11:59:31.033324), (3, Duomenu baziu su Python kursas, 500.0, 2023-05-10 12:01:42.598098), (4, FrontEndo kursai: HTML, CSS, 1500.0, 2023-05-10 12:01:42.598105), (5, Django pradedantiesiems, 7000.0, 2023-05-10 12:01:42.598106)]

In [43]:
for projektas in projektai:
    print(projektas)

(1, POython kursai pradedantiesiems, 200.0, 2023-05-10 11:59:14.455282)
(2, Python kursai pradedantiesiems, 200.0, 2023-05-10 11:59:31.033324)
(3, Duomenu baziu su Python kursas, 500.0, 2023-05-10 12:01:42.598098)
(4, FrontEndo kursai: HTML, CSS, 1500.0, 2023-05-10 12:01:42.598105)
(5, Django pradedantiesiems, 7000.0, 2023-05-10 12:01:42.598106)

In [45]:
with Session(db_engine) as session:
    django_kursas = session.query(Projektas).filter_by(name="Django pradedantiesiems")
    print(django_kursas)

SELECT "Projektas".id AS "Projektas_id", "Projektas".name AS "Projektas_name", "Projektas".price AS "Projektas_price", "Projektas".created AS "Projektas_created"
FROM "Projektas"
WHERE "Projektas".name = ?

In [48]:
with Session(db_engine) as session:
    pigus = session.query(Projektas).filter(Projektas.price <= 3000)
    pigus = pigus.order_by(Projektas.price).all()
    for projektas in pigus:
        print(projektas.price, projektas.name)

2023-05-10 15:11:27,747 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-10 15:11:27,752 INFO sqlalchemy.engine.Engine SELECT "Projektas".id AS "Projektas_id", "Projektas".name AS "Projektas_name", "Projektas".price AS "Projektas_price", "Projektas".created AS "Projektas_created"
FROM "Projektas"
WHERE "Projektas".price <= ? ORDER BY "Projektas".price
2023-05-10 15:11:27,754 INFO sqlalchemy.engine.Engine [generated in 0.00299s] (3000,)
200.0 POython kursai pradedantiesiems
200.0 Python kursai pradedantiesiems
500.0 Duomenu baziu su Python kursas
1500.0 FrontEndo kursai: HTML, CSS
2023-05-10 15:11:27,758 INFO sqlalchemy.engine.Engine ROLLBACK

In [57]:
with Session(db_engine) as session:
    python_kursai = session.query(Projektas)
    python_kursai = session.query(Projektas).filter(Projektas.name.ilike("%Python%")).all()
    python_kursai[0].price = 4000
    print(python_kursai[0])
    session.commit()

2023-05-10 15:20:01,196 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-10 15:20:01,197 INFO sqlalchemy.engine.Engine SELECT "Projektas".id AS "Projektas_id", "Projektas".name AS "Projektas_name", "Projektas".price AS "Projektas_price", "Projektas".created AS "Projektas_created"
FROM "Projektas"
WHERE lower("Projektas".name) LIKE lower(?)
2023-05-10 15:20:01,198 INFO sqlalchemy.engine.Engine [cached since 378s ago] ('%Python%',)
(2, Python kursai pradedantiesiems, 4000, 2023-05-10 11:59:31.033324)
2023-05-10 15:20:01,200 INFO sqlalchemy.engine.Engine COMMIT

In [58]:
with Session(db_engine) as session:
    print(projektas)
    projektas.price = 3000
    session.commit()

(4, FrontEndo kursai: HTML, CSS, 3000, 2023-05-10 12:01:42.598105)

In [61]:
from sqlalchemy.orm import sessionmaker
session = sessionmaker(bind=db_engine)()

projektas = session.query(Projektas).filter(Projektas.name.like("%Django%")).all()
print(projektas)

2023-05-10 15:22:57,139 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-10 15:22:57,144 INFO sqlalchemy.engine.Engine SELECT "Projektas".id AS "Projektas_id", "Projektas".name AS "Projektas_name", "Projektas".price AS "Projektas_price", "Projektas".created AS "Projektas_created"
FROM "Projektas"
WHERE "Projektas".name LIKE ?
2023-05-10 15:22:57,145 INFO sqlalchemy.engine.Engine [generated in 0.00129s] ('%Django%',)
[(5, Django pradedantiesiems, 7000.0, 2023-05-10 12:01:42.598106)]

In [66]:
projektas.price = 7775
session.commit()
print(projektas)

AttributeError: 'list' object has no attribute 'price'

In [ ]:


from sqlalchemy import create_engine, Integer, String, Float, DateTime
from sqlalchemy.orm import DeclarativeBase, mapped_column
from datetime import datetime

## ORM (sqlalchemy) II dalis - ryšiai

## susijusios lenteles - tevai/vaikai

In [2]:
from typing import Any

class Base(DeclarativeBase):
    pass

In [5]:
db_engine = create_engine('sqlite:///m21_seima.db', echo=True) 
session = sessionmaker(bind=db_engine)()

In [6]:
class Tevas(Base):
    __tablename__ = "tevas"
    id = mapped_column(Integer, primary_key=True)
    vardas = mapped_column("vardas", String(50))
    pavarde = mapped_column("pavarde", String(50))
    vaikai = relationship("Vaikas", back_populates="tevas")


class Vaikas(Base):
    __tablename__ = "vaikai"
    id = mapped_column(Integer, primary_key=True)
    vardas = mapped_column("vardas", String(50))
    pavarde = mapped_column("pavarde", String(50))
    mokymo_istaiga = mapped_column("mokykla", String(50))
    tevas_id = mapped_column(Integer, ForeignKey("tevas.id"))
    tevas = relationship("Tevas", back_populates="vaikai")

Base.metadata.create_all(db_engine)

2023-05-12 13:41:50,793 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-12 13:41:50,795 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("tevas")
2023-05-12 13:41:50,796 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-12 13:41:50,797 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("tevas")
2023-05-12 13:41:50,798 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-12 13:41:50,799 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("vaikai")
2023-05-12 13:41:50,800 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-12 13:41:50,801 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("vaikai")
2023-05-12 13:41:50,802 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-12 13:41:50,803 INFO sqlalchemy.engine.Engine
CREATE TABLE tevas (
	id INTEGER NOT NULL,
	vardas VARCHAR(50),
	pavarde VARCHAR(50),
	PRIMARY KEY (id)
)


2023-05-12 13:41:50,804 INFO sqlalchemy.engine.Engine [no key 0.00116s] ()
2023-05-12 13:41:50,807 INFO sqlalchemy.engine.Engine
CREATE TABLE vaikai (
	id INTEGER NOT NULL,
	vardas VARCHAR(50),
	pavarde VARCHAR(50),
	mokykla VARCHAR(50),
	tevas_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(tevas_id) REFERENCES tevas (id)
)


2023-05-12 13:41:50,808 INFO sqlalchemy.engine.Engine [no key 0.00078s] ()
2023-05-12 13:41:50,811 INFO sqlalchemy.engine.Engine COMMIT

In [16]:
kestutis = Tevas(vardas="Kestutis", pavarde="J")
emilija = Vaikas(vardas="Emilija", pavarde="J", mokymo_istaiga="gera", tevas=kestutis)
maja = Vaikas(vardas="Maja", pavarde="J")
marco = Vaikas(vardas="Marco", pavarde="J")
kestutis.vaikai.append(maja)
marco.tevas = kestutis
session.add_all([kestutis, emilija, maja, marco])
session.commit()

2023-05-12 14:01:42,291 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-12 14:01:42,293 INFO sqlalchemy.engine.Engine INSERT INTO tevas (vardas, pavarde) VALUES (?, ?)
2023-05-12 14:01:42,295 INFO sqlalchemy.engine.Engine [generated in 0.00142s] ('Kestutis', 'J')
2023-05-12 14:01:42,300 INFO sqlalchemy.engine.Engine INSERT INTO vaikai (vardas, pavarde, mokykla, tevas_id) VALUES (?, ?, ?, ?) RETURNING id
2023-05-12 14:01:42,301 INFO sqlalchemy.engine.Engine [generated in 0.00016s (insertmanyvalues) 1/3 (ordered; batch not supported)] ('Emilija', 'J', 'gera', 1)
2023-05-12 14:01:42,303 INFO sqlalchemy.engine.Engine INSERT INTO vaikai (vardas, pavarde, mokykla, tevas_id) VALUES (?, ?, ?, ?) RETURNING id
2023-05-12 14:01:42,304 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/3 (ordered; batch not supported)] ('Maja', 'J', None, 1)
2023-05-12 14:01:42,305 INFO sqlalchemy.engine.Engine INSERT INTO vaikai (vardas, pavarde, mokykla, tevas_id) VALUES (?, ?, ?, ?) RETURNING id
2023-05-12 14:01:42,306 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/3 (ordered; batch not supported)] ('Marco', 'J', None, 1)
2023-05-12 14:01:42,307 INFO sqlalchemy.engine.Engine COMMIT

In [17]:
tevas = session.query(Tevas).first()
print(tevas.vardas)

2023-05-12 14:02:12,153 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-12 14:02:12,161 INFO sqlalchemy.engine.Engine SELECT tevas.id AS tevas_id, tevas.vardas AS tevas_vardas, tevas.pavarde AS tevas_pavarde
FROM tevas
 LIMIT ? OFFSET ?
2023-05-12 14:02:12,162 INFO sqlalchemy.engine.Engine [generated in 0.00099s] (1, 0)
Kestutis

In [18]:
for vaikas in tevas.vaikai:
    print(vaikas.vardas, vaikas.pavarde)

2023-05-12 14:02:20,534 INFO sqlalchemy.engine.Engine SELECT vaikai.id AS vaikai_id, vaikai.vardas AS vaikai_vardas, vaikai.pavarde AS vaikai_pavarde, vaikai.mokykla AS vaikai_mokykla, vaikai.tevas_id AS vaikai_tevas_id
FROM vaikai
WHERE ? = vaikai.tevas_id
2023-05-12 14:02:20,535 INFO sqlalchemy.engine.Engine [generated in 0.00140s] (1,)
Emilija J
Maja J
Marco J

In [19]:
tevas.vaikai[1].pavarde = "Ja"
session.commit()

2023-05-12 14:02:28,126 INFO sqlalchemy.engine.Engine UPDATE vaikai SET pavarde=? WHERE vaikai.id = ?
2023-05-12 14:02:28,127 INFO sqlalchemy.engine.Engine [generated in 0.00113s] ('Ja', 2)
2023-05-12 14:02:28,129 INFO sqlalchemy.engine.Engine COMMIT

In [20]:
visi_vaikai = session.query(Vaikas).all()
for vaikas in visi_vaikai:
    print(vaikas.vardas, vaikas.tevas)

2023-05-12 14:02:51,033 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-12 14:02:51,035 INFO sqlalchemy.engine.Engine SELECT vaikai.id AS vaikai_id, vaikai.vardas AS vaikai_vardas, vaikai.pavarde AS vaikai_pavarde, vaikai.mokykla AS vaikai_mokykla, vaikai.tevas_id AS vaikai_tevas_id
FROM vaikai
2023-05-12 14:02:51,037 INFO sqlalchemy.engine.Engine [generated in 0.00150s] ()
2023-05-12 14:02:51,041 INFO sqlalchemy.engine.Engine SELECT tevas.id AS tevas_id, tevas.vardas AS tevas_vardas, tevas.pavarde AS tevas_pavarde
FROM tevas
WHERE tevas.id = ?
2023-05-12 14:02:51,043 INFO sqlalchemy.engine.Engine [generated in 0.00158s] (1,)
Emilija <__main__.Tevas object at 0x10bde88d0>
Maja <__main__.Tevas object at 0x10bde88d0>
Marco <__main__.Tevas object at 0x10bde88d0>

In [21]:
tevas.vaikai.remove(visi_vaikai[1])
session.commit()

2023-05-12 14:03:06,491 INFO sqlalchemy.engine.Engine SELECT vaikai.id AS vaikai_id, vaikai.vardas AS vaikai_vardas, vaikai.pavarde AS vaikai_pavarde, vaikai.mokykla AS vaikai_mokykla, vaikai.tevas_id AS vaikai_tevas_id
FROM vaikai
WHERE ? = vaikai.tevas_id
2023-05-12 14:03:06,519 INFO sqlalchemy.engine.Engine [cached since 45.99s ago] (1,)
2023-05-12 14:03:06,524 INFO sqlalchemy.engine.Engine UPDATE vaikai SET tevas_id=? WHERE vaikai.id = ?
2023-05-12 14:03:06,524 INFO sqlalchemy.engine.Engine [generated in 0.00078s] (None, 2)
2023-05-12 14:03:06,526 INFO sqlalchemy.engine.Engine COMMIT

In [22]:
visi_vaikai[0].tevas = None
session.commit()

2023-05-12 14:03:24,501 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-12 14:03:24,503 INFO sqlalchemy.engine.Engine SELECT vaikai.id AS vaikai_id, vaikai.vardas AS vaikai_vardas, vaikai.pavarde AS vaikai_pavarde, vaikai.mokykla AS vaikai_mokykla
FROM vaikai
WHERE vaikai.id = ?
2023-05-12 14:03:24,504 INFO sqlalchemy.engine.Engine [generated in 0.00143s] (1,)
2023-05-12 14:03:24,507 INFO sqlalchemy.engine.Engine UPDATE vaikai SET tevas_id=? WHERE vaikai.id = ?
2023-05-12 14:03:24,508 INFO sqlalchemy.engine.Engine [cached since 17.98s ago] (None, 1)
2023-05-12 14:03:24,510 INFO sqlalchemy.engine.Engine COMMIT

## many2many

In [23]:
from sqlalchemy import Table, Column

engine = create_engine('sqlite:///m2m_seima.db')
session = sessionmaker(bind=engine)()

In [25]:
sasajos_lentele = Table('tevai_vaikai', Base.metadata, 
    Column('id', Integer, primary_key=True),
    Column('tevas_id', Integer, ForeignKey('tevas.id')),
    Column('vaikas_id', Integer, ForeignKey('vaikas.id')),
)

class Tevas(Base):
    __tablename__ = "tevas"
    id = mapped_column(Integer, primary_key=True)
    vardas = mapped_column("vardas", String(50))
    pavarde = mapped_column("pavarde", String(50))
    vaikai = relationship(
        "Vaikas", 
        secondary=sasajos_lentele, 
        back_populates='tevai',
    )

class Vaikas(Base):
    __tablename__ = "vaikas"
    id = mapped_column(Integer, primary_key=True)
    vardas = mapped_column("vardas", String(50))
    pavarde = mapped_column("pavarde", String(50))
    tevai = relationship(
        "Tevas",
        secondary=sasajos_lentele,
        back_populates='vaikai',
    )

Base.metadata.create_all(engine)

InvalidRequestError: Table 'tevai_vaikai' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

In [26]:
kestutis = Tevas(vardas="Kestutis", pavarde="J")
nicoletta = Tevas(vardas="Nicoletta", pavarde="P")
emilija = Vaikas(vardas="Emilija", pavarde="J")
maja = Vaikas(vardas="Maja", pavarde="Ja")
marco = Vaikas(vardas="Marco", pavarde="Jo")
kestutis.vaikai.append(emilija)
kestutis.vaikai.append(marco)
kestutis.vaikai.append(maja)
emilija.tevai.append(nicoletta)
maja.tevai.append(nicoletta)
marco.tevai.append(nicoletta)
session.add_all([kestutis, emilija, maja, marco, nicoletta])
session.commit()

AttributeError: 'Vaikas' object has no attribute 'tevai'

In [27]:
tevas = session.query(Tevas).filter(Tevas.vardas == "Kestutis").first()
mama = session.query(Tevas).filter(Tevas.vardas == "Nicoletta").first()
for vaikas in tevas.vaikai:
    print(vaikas.vardas, vaikas.pavarde)
for vaikas in mama.vaikai:
    print(vaikas.vardas, vaikas.pavarde)

OperationalError: (sqlite3.OperationalError) no such table: tevas
[SQL: SELECT tevas.id AS tevas_id, tevas.vardas AS tevas_vardas, tevas.pavarde AS tevas_pavarde
FROM tevas
WHERE tevas.vardas = ?
 LIMIT ? OFFSET ?]
[parameters: ('Kestutis', 1, 0)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)