In [1]:
import pandas as pd
import numpy as np
from pprint import pprint
# Jeigu kažkuris iš nuskaitymo/įrašymo metodų neveiks, tikėtina, kad trūksta kažko iš šių bibliotekų:

# pip install sqlalchemy
# pip install lxml
# pip install html5lib
# pip install BeautifulSoup4
# pip install openpyxl

# Unikalios reikšmės

In [2]:
top = pd.read_csv('top50.csv', encoding='ISO-8859-1')
top.head()

# Nuskaitėme failą į DataFrame'ą 'top'. Šie duomenys - Spotify top 50 2019 dainų.
# Pamėginkime išrinkti unikalias reikšmes iš stulpelio 'Genre':

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
0,1,Señorita,Shawn Mendes,canadian pop,117,55,76,-6,8,75,191,4,3,79
1,2,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92
2,3,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86
4,5,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,150,65,58,-4,11,18,175,45,7,94

In [3]:
# top['Genre'].unique()
# pprint(top["Genre"].unique())

unique_genres = top["Genre"].unique()
# unique_genres.delete()
genres_wo_cr = np.delete(unique_genres, 6) # indexas 6 nurodo vieta norimo istrinti zanro ('country rap')
genres_wo_cr

array(['canadian pop', 'reggaeton flow', 'dance pop', 'pop', 'dfw rap',
       'trap music', 'electropop', 'reggaeton', 'panamanian pop',
       'canadian hip hop', 'latin', 'escape room', 'pop house',
       'australian pop', 'edm', 'atl hip hop', 'big room', 'boy band',
       'r&b en espanol', 'brostep'], dtype=object)

In [4]:
# jeigu norime sužinoti, kiek jų yra, tiesiog naudojame len funkciją:

len(top['Genre'].unique())

21

In [5]:
# tą patį gausime, panaudoję pandas metodą .nunique():

top['Genre'].nunique()

21

In [6]:
# galime panaudoti metodą .value_counts():

top['Genre'].value_counts()

# gavome sąrašą unikalių reikšmių, ir kiek jų yra lentelėje.

Genre
dance pop           8
pop                 7
latin               5
canadian hip hop    3
edm                 3
reggaeton           2
reggaeton flow      2
panamanian pop      2
canadian pop        2
electropop          2
country rap         2
dfw rap             2
brostep             2
trap music          1
escape room         1
pop house           1
australian pop      1
atl hip hop         1
big room            1
boy band            1
r&b en espanol      1
Name: count, dtype: int64

In [7]:
# .apply() metodas

# jei pamenate, su DF galime naudoti įvairias funkcijas, pvz.:

top['Length.'].sum()

10048

In [8]:
# su .apply() galime naudoti ir savo funkcijas. 
# Parašykime funkciją, kuri iš duotų sekundžių skaičiaus išskirs minutes ir sekundes formatu mm:ss


def minutes_seconds(s):
    return f"{s//60}:{(s%60):02d}"

In [9]:
minutes_seconds(121)

'2:01'

In [10]:
# pritaikykime šią funkciją stulpeliui 'Length.':

top['Length.'].apply(minutes_seconds).head()

0    3:11
1    5:02
2    3:06
3    3:18
4    2:55
Name: Length., dtype: object

In [11]:
# Gavome seriją. Galime jos pagrindu jos pagrindu pakoreguoti senąjį arba sukurti naują stulpelį, pvz.:
top['Length.Pretty'] = top['Length.'].apply(minutes_seconds)
top.head()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity,Length.Pretty
0,1,Señorita,Shawn Mendes,canadian pop,117,55,76,-6,8,75,191,4,3,79,3:11
1,2,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92,5:02
2,3,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85,3:06
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86,3:18
4,5,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,150,65,58,-4,11,18,175,45,7,94,2:55

In [12]:
# Galime naudoti lambdas:

top['Energy'].apply(lambda x: (x//10)).head()

# pavertėme 'Energy' stulpelio įvertinimus iš šimtabalės į dešimtbalę sistemą.

0    5
1    8
2    8
3    6
4    6
Name: Energy, dtype: int64

# Naudingos funkcijos

In [13]:
# .columns grąžina stulpelių sąrašą
top.drop("Unnamed: 0", axis=1, inplace=True)  # Duomenu valymas su .drop ir parametrais paduotais
top.columns

Index(['Track.Name', 'Artist.Name', 'Genre', 'Beats.Per.Minute', 'Energy',
       'Danceability', 'Loudness..dB..', 'Liveness', 'Valence.', 'Length.',
       'Acousticness..', 'Speechiness.', 'Popularity', 'Length.Pretty'],
      dtype='object')

In [14]:
# .index suteikia informaciją apie indeksą:

top.index

RangeIndex(start=0, stop=50, step=1)

In [15]:
# .shape grąžina tuple su eilučių ir stulpelių skaičiumi

top.shape

(50, 14)

In [16]:
# .sort_values surūšiuoja eilutes pagal nurodytą stulpelį:

top.sort_values('Track.Name').head()

,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity,Length.Pretty
32,0.958333333333333,Maluma,reggaeton,96,71,78,-5,9,68,176,22,28,89,2:56
31,7 rings,Ariana Grande,dance pop,140,32,78,-11,9,33,179,59,33,89,2:59
37,Antisocial (with Travis Scott),Ed Sheeran,pop,152,82,72,-5,36,91,162,13,5,87,2:42
3,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86,3:18
48,Call You Mine,The Chainsmokers,edm,104,70,59,-6,41,50,218,23,3,88,3:38

In [17]:
# .isnull() grąžina lentelę su boolean reikšmėmis kur True reiškia NaN.

top.isnull().head()

# ši lentelė tvarkinga, todėl True reikšmių nesimato.

,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity,Length.Pretty
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False

# Duomenų nuskaitymas / įrašymas

In [18]:
# CSV - turbūt dažniausiai pasitaikantis formatas, analizuojant duomenis. 
# Vieną CSV failą jau nuskaitėme pirmose šio dokumento eilutėse.
# Nuskaitykime dar vieną:
duomenys = pd.read_csv('example.csv')

In [19]:
# norėdami įrašyti duomenis į csv failą, darome taip:

duomenys.to_csv('result.csv', index=False)

# HTML

In [20]:
# Galime pamėginti nuskaityti HTML tiesiog nurodant pandoms URL

duomenys_html = pd.read_html('/lt.wikipedia.org/wiki/Vilniaus_miesto_savivaldyb%C4%97')

/Users/ciliukas/CodeAcademy/mano_pirma_repozitorija/.venv/lib/python3.11/site-packages/pandas/io/html.py:674: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  soup = BeautifulSoup(udoc, features="html5lib", from_encoding=from_encoding)

ValueError: No tables found

# Uzduotys

In [24]:
# 1 Ištraukite lentelę iš šios svetainės. Išsaugokite kintamąjame.
import requests
url = "https://work.studentnews.eu/s/3695/75547-European-countries-the-table-language-population-capital-currency-phone-code-internet-code.htm"

response = requests.get(url, verify=True)
if response.status_code == 200:
    html_content = response.text
    html_tables = pd.read_html(html_content)
    countries = html_tables[0] 
    for table in html_tables:
        print(table)
else:
    print("Request failed with status code:", response.status_code)

                                                   0
0  Country any Austria Belgium Bulgaria Croatia C...  \
1                                                NaN

                                                   1
0  Country any Austria Belgium Bulgaria Croatia C...
1                                                NaN
             Staat                     Official languages    Population
0          Austria                                 German   8.4 million  \
1          Belgium  Dutch (north), French (south), German    11 million
2         Bulgaria                              Bulgarian     7 million
3          Croatia                               Croatian   4.3 million
4           Cyprus                         Greek, Turkish       800 000
5   Czech Republic                                  Czech    10 million
6          Denmark                                 Danish   5.6 million
7          Estonia                               Estonian   1.3 million
8          Finland                       Finnish, Swedish   5.4 million
9           France                                 French    65 million
10         Germany                                 German  82.5 million
11          Greece                                  Greek    11 million
12         Hungary                              Hungarian    10 million
13         Iceland                              Icelandic       320 000
14         Ireland                         English, Irish   4.6 million
15           Italy                                Italian  60.9 million
16          Latvia                                Latvian     2 million
17    Lichtenstein                                 German        36 300
18       Lithuania                             Lithuanian     3 million
19      Luxembourg          French, German, Luxembourgish       524 000
20           Malta                       English, Maltese       450 000
21     Netherlands                                  Dutch  16.8 million
22          Norway                              Norwegian     5 million
23          Poland                                 Polish  38.5 million
24        Portugal                             Portuguese  10.5 million
25         Romania                               Romanian  19.1 million
26        Slovakia                              Slovakian   5.4 million
27        Slovenia                              Slovenian     2 million
28           Spain                                Spanish    47 million
29          Sweden                                Swedish   9.5 million
30     Switzerland       French, German, Italian, Romansh     8 million
31  United Kingdom                                English  63.2 million

       Capital                Currency  Phone     Int.
0       Vienna              euro (EUR)     43      .at
1     Brussels              euro (EUR)     32      .be
2        Sofia     Bulgarian lev (BGN)    359      .bg
3       Zagreb     Croatian kuna (HRK)    385      .hr
4      Nicosia              euro (EUR)    357      .cy
5       Prague      Czech koruna (CZK)    420      .cz
6   Copenhagen      Danish krone (DKK)     45      .dk
7      Tallinn              euro (EUR)    372      .ee
8     Helsinki              euro (EUR)    358  .fi/.ax
9        Paris              euro (EUR)     33      .fr
10      Berlin              euro (EUR)     49      .de
11      Athens              euro (EUR)     30      .gr
12    Budapest  Hungarian forint (HUF)     36      .hu
13   Reykjavik   Icelandic krona (ISK)    354      .is
14      Dublin              euro (EUR)    353      .ie
15        Rome              euro (EUR)     39      .it
16        Riga      Latvian lats (LVL)    371      .lv
17       Vaduz       Swiss franc (CHF)    423      .li
18     Vilnius  Lithuanian litas (LTL)    370      .lt
19  Luxembourg              euro (EUR)    352      .lu
20    Valletta              euro (EUR)    356      .mt
21   Amsterdam              euro (EUR)     31      .nl
22        Oslo   Norwegian krone (NOK)     47      .no
23      Warsaw      Polish ztoty (PLN)     48      .pl
24      Lisbon              euro (EUR)    351      .pt
25   Bucharest      Romanian leu (RON)     40      .ro
26  Bratislava              euro (EUR)    421      .sk
27   Ljubljana              euro (EUR)    386      .si
28      Madrid              euro (EUR)     34      .es
29   Stockholm     Swedish krona (SEK)     46      .se
30        Bern       Swiss franc (CHF)     41      .ch
31      London          Pound sterling     44      .uk

In [23]:
# 2 šių duomenų pagrindu sukurkite CSV, Excelio failus, ir SQLite3 duomenų bazę. 
# Patikrinkite, ar suveikė.
import  sqlite3 
from sqlalchemy import create_engine


countries = url

countries.to_csv("countries.csv", index=False)
countries.to_excel("countries.xlsx", sheet_name="Sheet1", index=False)

conn = create_engine("sqlite:///countries.db")
countries.to_sql("countries", conn, index=False, if_exists="replace")
conn.close()

AttributeError: 'str' object has no attribute 'to_csv'

In [26]:
# 3 Nuskaitykite į DF šį failą

fires = pd.read_csv('top_20_CA_wildfires.csv')
fires.head()

,fire_name,cause,month,year,county,acres,structures,deaths
0,Mendocino Complex,Under Investigation,July,2018,"Colusa County, Lake County, Mendocino County &...",459123,280,1
1,Thomas,Powerlines,December,2017,Ventura & Santa Barbara,281893,1063,2
2,Cedar,Human Related,October,2003,San Diego,273246,2820,15
3,Rush,Lightning,August,2012,Lassen,271911,0,0
4,Rim,Human Related,August,2013,Tuolumne,257314,112,0

In [27]:
# 4 Kiek unikalių reikšmių yra stulpelyje 'cause'?

len(fires["cause"].unique())

5

In [28]:
# 5 Kokios priežastys, kiek kartų pasitaiko lentelėje?

fires["cause"].value_counts()

cause
Human Related          7
Lightning              7
Powerlines             4
Under Investigation    1
Undetermined           1
Name: count, dtype: int64

In [32]:
# 6 Kuriais metais buvo daugiausia gaisrų?

fires["year"].value_counts().idxmax()

2018

In [33]:
# 7 Kiek buvo tokių gaisrų, kuriuose žuvo žmonės?

fires["deaths"].value_counts().drop(0).sum()

10

In [34]:
# 8 Surūšiuokite eilutes pagal metus. 
# Išsiaiškinkite, kaip rūšiuoti, kad naujausi gaisrai būtų viršuje

fires.sort_values("year", ascending=False).head()

,fire_name,cause,month,year,county,acres,structures,deaths
0,Mendocino Complex,Under Investigation,July,2018,"Colusa County, Lake County, Mendocino County &...",459123,280,1
15,Camp Fire,Powerlines,November,2018,Butte,153336,18804,85
6,Carr,Human Related,July,2018,"Shasta County,Trinity County",229651,1614,8
1,Thomas,Powerlines,December,2017,Ventura & Santa Barbara,281893,1063,2
16,Rough,Lightning,July,2015,Fresno,151623,4,0

In [50]:
# 9 Parašykite funkciją, kuri mėnesio pavadinimą verstų skaičiumi.
# Naudodami .apply() lentelėje pakeiskite mėnesių pavadinimus skaičiais.

def months_to_digi(month):
    months = {"January" : 1,
              "February" : 2,
              "March" : 3,
              "April" : 4,
              "May" : 5,
              "June" : 6,
              "July" : 7,
              "August" : 8,
              "September" : 9,
              "October" : 10,
              "November" : 11,
              "December" : 12}
    return months[month]

In [51]:
fires["month"] = fires["month"].apply(months_to_digi)
fires.head()

KeyError: 7

In [65]:
# Pakeiskite indeksą į stulpelį 'Miestas'
# **Sutvarkykite duomenis taip, kad gyventojų sk. reprezentuotų lengelis su 'int' reikšme: -
# Ten kur trūksta duomenų - nulis. ten, kur reikšmės ne integer, sutvarkykite, kad būtų integer.**


url2 = "https://lt.wikipedia.org/wiki/Sąrašas:Lietuvos_miestai_pagal_gyventojus"

response = requests.get(url, verify=True)
if response.status_code == 200:
    html_content = response.text
    html_tables = pd.read_html(html_content)
    # countries = html_tables[0] 
    for table in html_tables:
        print(table)
else:
    print("Request failed with status code:", response.status_code)

salys = url2

                                                   0
0  Country any Austria Belgium Bulgaria Croatia C...  \
1                                                NaN

                                                   1
0  Country any Austria Belgium Bulgaria Croatia C...
1                                                NaN
             Staat                     Official languages    Population
0          Austria                                 German   8.4 million  \
1          Belgium  Dutch (north), French (south), German    11 million
2         Bulgaria                              Bulgarian     7 million
3          Croatia                               Croatian   4.3 million
4           Cyprus                         Greek, Turkish       800 000
5   Czech Republic                                  Czech    10 million
6          Denmark                                 Danish   5.6 million
7          Estonia                               Estonian   1.3 million
8          Finland                       Finnish, Swedish   5.4 million
9           France                                 French    65 million
10         Germany                                 German  82.5 million
11          Greece                                  Greek    11 million
12         Hungary                              Hungarian    10 million
13         Iceland                              Icelandic       320 000
14         Ireland                         English, Irish   4.6 million
15           Italy                                Italian  60.9 million
16          Latvia                                Latvian     2 million
17    Lichtenstein                                 German        36 300
18       Lithuania                             Lithuanian     3 million
19      Luxembourg          French, German, Luxembourgish       524 000
20           Malta                       English, Maltese       450 000
21     Netherlands                                  Dutch  16.8 million
22          Norway                              Norwegian     5 million
23          Poland                                 Polish  38.5 million
24        Portugal                             Portuguese  10.5 million
25         Romania                               Romanian  19.1 million
26        Slovakia                              Slovakian   5.4 million
27        Slovenia                              Slovenian     2 million
28           Spain                                Spanish    47 million
29          Sweden                                Swedish   9.5 million
30     Switzerland       French, German, Italian, Romansh     8 million
31  United Kingdom                                English  63.2 million

       Capital                Currency  Phone     Int.
0       Vienna              euro (EUR)     43      .at
1     Brussels              euro (EUR)     32      .be
2        Sofia     Bulgarian lev (BGN)    359      .bg
3       Zagreb     Croatian kuna (HRK)    385      .hr
4      Nicosia              euro (EUR)    357      .cy
5       Prague      Czech koruna (CZK)    420      .cz
6   Copenhagen      Danish krone (DKK)     45      .dk
7      Tallinn              euro (EUR)    372      .ee
8     Helsinki              euro (EUR)    358  .fi/.ax
9        Paris              euro (EUR)     33      .fr
10      Berlin              euro (EUR)     49      .de
11      Athens              euro (EUR)     30      .gr
12    Budapest  Hungarian forint (HUF)     36      .hu
13   Reykjavik   Icelandic krona (ISK)    354      .is
14      Dublin              euro (EUR)    353      .ie
15        Rome              euro (EUR)     39      .it
16        Riga      Latvian lats (LVL)    371      .lv
17       Vaduz       Swiss franc (CHF)    423      .li
18     Vilnius  Lithuanian litas (LTL)    370      .lt
19  Luxembourg              euro (EUR)    352      .lu
20    Valletta              euro (EUR)    356      .mt
21   Amsterdam              euro (EUR)     31      .nl
22        Oslo   Norwegian krone (NOK)     47      .no
23      Warsaw      Polish ztoty (PLN)     48      .pl
24      Lisbon              euro (EUR)    351      .pt
25   Bucharest      Romanian leu (RON)     40      .ro
26  Bratislava              euro (EUR)    421      .sk
27   Ljubljana              euro (EUR)    386      .si
28      Madrid              euro (EUR)     34      .es
29   Stockholm     Swedish krona (SEK)     46      .se
30        Bern       Swiss franc (CHF)     41      .ch
31      London          Pound sterling     44      .uk

In [66]:
len(salys)

71

In [67]:
miestai = salys[0]
miestai.head()

AttributeError: 'str' object has no attribute 'head'